<!DOCTYPE HTML>

<html>
<head>
    <title>NYP iProjection Downloader</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
   

    <link href="~/assets/css/main.css" rel="stylesheet" />
</head>

<body id="top">
    

    <!-- Banner -->
    <!--
        To use a video as your background, set data-video to the name of your video without
        its extension (eg. images/banner). Your video must be available in both .mp4 and .webm
        formats to work correctly.
    -->
    <section id="banner">

        <div class="inner">
            <header>

                <h1>NYP iProjection</h1>
                <p>Get a copy of NYP iProjection App suited for your platform</p>
            </header>
            <a href="#main" class="more">Learn More</a>
        </div>
    </section>

    @RenderBody()


    <!-- Footer -->
    <footer id="footer">
        <div class="inner">
            <h2>Thank You for downloading NYP iProjection.</h2>
            <p>Should you have any enquiries or feedback contact us via email address below.</p>

            <ul class="icons">
                
                <li><a  class="icon fa-envelope"><span class="label">Email</span></a></li>
            </ul>
            <p><b>teo_chea_wan@nyp.edu.sg</b></p>

            <p>
                &copy; @DateTime.Now.Year - NYP iProjection Downloader
            </p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.scrolly.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <script src="~/assets/js/main.js"></script>


</body>
</html>