<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link href="~/dist/css/skins/skin-blue-light.css" rel="stylesheet" />

    <link href="~/dist/css/skins/skin-blue-light.min.css" rel="stylesheet" />
    <!-- Morris chart -->
    <link rel="stylesheet" href="~/bower_components/morris.js/morris.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/bower_components/jvectormap/jquery-jvectormap.css">
    <!-- Date Picker -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <!-- Daterange picker -->
    <link rel="stylesheet" href="~/bower_components/bootstrap-daterangepicker/daterangepicker.css">
    <!-- bootstrap wysihtml5 - text editor -->
    <link rel="stylesheet" href="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <link rel="stylesheet" type="text/css" href="~/CSS/EventLogStyle.css">
    <style>
        .dashboardContent {
            position: relative;
            padding-left: 50px;
        }

        .head {
            display: block;
            color: #ffffff;
            top: 0%;
            left: 50%;
            width: 100%;
        }

            .head h1 {
                font-size: 4vh !important;
                font-weight: lighter !important;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                text-align: center;
            }

            .head h5 {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-weight: 200;
                font-size: 2vh;
                text-align: center;
            }

        .nypfooter {
            position: relative;
            padding-left: 50px;
        }
    </style>

</head>



<body class="hold-transition skin-blue-light sidebar-mini">

    @*nav bar*@
    <div class="container body-content">
        @RenderBody()
        <aside class="main-sidebar" style="background-color:steelblue; position:fixed;">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">

                <img style="display:block;
                        top:5%;
                        margin-left:auto;
                        margin-right:auto;
                        position:relative;
                        width:180px; height:80px;" src="~/Images and Icons/nyplogo2.png">
                <div class="head" text-center>
                    <h1><b>iProjection</b></h1>
                    <h5>Smart Control</h5>
                </div>


                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header" style="text-align:center;font-size:medium;">NAVIGATIONS</li>

                    <li style="text-align:left;"><a href="~/Home"><i class="fa fa-home" style="font-size:36px"></i><span style="padding-left:20px;">HOMEPAGE</span></a></li>
                    <li style="text-align:left;"><a href="~/Help"><i class="fa fa-pencil" style="font-size:36px"></i><span style="padding-left:20px;">API</span></a></li>

                    @*<li><a><i class="fa fa-circle-o text-red"></i> <span>@Html.ActionLink("HOME", "Index", "Home", new { area = "" }, null)</span></a></li>
                        <li><a><i class="fa fa-circle-o text-aqua"></i> <span>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</span></a></li>*@
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <hr />
        <footer>
            <p class="nypfooter">&copy; @DateTime.Now.Year - NYP iProjection Manager</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="~/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>$.widget.bridge('uibutton', $.ui.button);</script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris.js charts -->
    <script src="~/bower_components/raphael/raphael.min.js"></script>
    <script src="~/bower_components/morris.js/morris.min.js"></script>
    <!-- Sparkline -->
    <script src="~/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="~/bower_components/jquery-knob/dist/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="~/bower_components/moment/min/moment.min.js"></script>
    <script src="~/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- datepicker -->
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <!-- Bootstrap WYSIHTML5 -->
    <script src="~/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <!-- Slimscroll -->
    <script src="~/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/dist/js/demo.js"></script>


</body>
</html>
